.Rproj.user
.Rhistory
.RData
.Ruserdata
*.Rproj


# folders
other
output
docs
_book
_bookdown_files
chapters
!/chapters/headers
lengthweight_files

data-raw/data
# exceptions
!/data-raw/data/lwAllData.rds

